@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-image: url("https://i.snipboard.io/pwqDQN.jpg");
}

.gamearea {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: none;
}

.board {
  background-color: gray;
  width: 320px;
  height: 320px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-section {
  background-color: gainsboro;
  width: 60px;
  height: 60px;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

